@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LemonMilk";
    src: url(./assets/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "Bebas";
    src: url(./assets/BebasNeue-Regular.otf);
}

@font-face {
    font-family: "Bellota";
    src: url(./assets/Bellota-Regular.ttf);
}

@font-face {
    font-family: "Saeda";
    src: url(./assets/LTSaeada-Regular.otf);
}

@font-face {
    font-family: "Monsterrat";
    src: url(./assets/Monsterrat.ttf);
}

@font-face {
    font-family: "MadimiOne";
    src: url(./assets/MadimiOne.ttf);
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
}

html,body,section {
    block-size: 100%;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
  }